/* Menambahkan gaya untuk tombol yang aktif */
.buttonContainer.active {
    background-color: #4a47ff; /* Gaya tombol aktif */
    border: 2px solid #4a47ff; /* Warna border ketika aktif */
  }
  
  /* Gaya untuk tombol */
  .title {
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: #09090b; /* Warna teks default (diatur di JSX berdasarkan kondisi) */
    z-index: 1;
  }
  
  /* Gaya untuk container tombol */
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 55px;
    overflow: clip;
    position: relative;
    border-color: #c9c9c9;
  }
  
  /* Gaya untuk efek animasi */
  .circle {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0px;
  }
  